@use '../variables' as *;

//Footer class base
.footer__container {
    display: flex;
    flex-direction: column;
    background-color: $primary-background-color;
    color: $primary-text-color-dark-background;
    
    //Footer container header
    &__header {
        padding: 1rem;
        
    }

    &__social {

        &--title {
            font-family: 'Avenir Demi', sans-serif;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.75rem;
            font-weight: 500;
        }

        &__icons {
            padding-right: 2rem;      
            height: 1.5rem;


            &--instagram {
                @extend .footer__container__social__icons;
            } 
            
            &--facebook {
                @extend .footer__container__social__icons;
            } 

            &--twitter {
                @extend .footer__container__social__icons;
            } 
        }

    }

    

    &__contact {
        padding-left: 1rem;
        padding-top: 1rem;

        &--info {
            padding-bottom: 1.5rem;

            &__title {
                @extend .footer__container__contact--info;
                font-family: 'Avenir Demi', sans-serif;
                font-size: 1rem;
                line-height: 1.125rem;
                font-weight: 600;
                
            }

            &__address {
                @extend .footer__container__contact--info;
                font-size: 1rem;
            }

            &__email a {
                @extend .footer__container__contact--info;
                font-size: 0.875rem;
                font-weight: 400;
                text-decoration: none;
                color: $primary-text-color-dark-background;
            }
        }
    }

    &--copyright {
        @extend .footer__container__contact;
        font-size: 0.75rem;
        

        &:before {
            padding-top: 2rem;
            content: url('/assets/logos/Logo-bandsite.svg');
            display: flex;
            padding-bottom: 1rem;
        }
    }
}

