@use '../variables' as var;
@use './mixins' as *;

header {
    display: flex;
    flex-direction: column;
    background-color: var.$primary-background-color;
    align-items: center;
    justify-content: space-between;
    font-family: 'Avenir', sans-serif;
    width: 100vw;
    position: fixed;
    z-index: 999;

    @include tablet {
        flex-direction: row;       
        justify-content: flex-start;
        height: 6.25rem;
        align-items: end;
    }
}

.header__logo {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include tablet {
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
}


.navheader {
    //Nav header base class
    display: flex;
    flex-direction: row;
    width: 100%;

    @include tablet {
        width: auto;
    }

    // Parent list class
    &__list {
        @extend .navheader;
        list-style: none;
        padding: 0rem;
    }

    //List Item Class
    &__list--listitem {
        //List Item Link Class
        @extend .navheader;
        justify-content: center;

        @include tablet {
            padding-left: 2.25rem;
        }

        &__link {
            width: 100%;
            font-size: 1rem;
            font-weight: 300;
            text-decoration: none;
            padding-bottom: 1rem;
            color: var.$inactive-cta-text-color;
            text-align: center;

            @include tablet {
                padding-bottom: 2.25rem;
            }
        }
    }
}

.active {
    border-bottom: 0.3rem solid var.$divider-line-color; 
    font-weight: 700;
    text-decoration: none;
    color: var.$primary-text-color-dark-background;   
}
