@use '../variables' as *;
@use './mixins' as *;

.hero__container {
    //Hero container base 
    width: 100%;
    display: flex;
    padding-top: 6rem;

    &:before {
        @extend .hero__container;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 50vh;
        background-color: #323232;
        opacity: 0.3;

        @include desktop {
            height: 70vh;
            background-color: #323232;
            opacity: 0.3;
        }
        
    }
        
    &--content {
        @extend .hero__container;
        background-image: url('/assets/images/hero-bio.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
        align-items: center;
        font-family: 'Avenir', sans-serif;

        @include desktop {
            height: 70vh;
        }
    
        &__title {
            color: $primary-text-color-dark-background;
            font-weight: 500;
            padding-left: 1rem;
            transform: translateY(-3rem);

            @include tablet {
                font-size: 3rem;
            }

            @include desktop {
                padding-left: 8rem;
            }
           
        }
    }
}