@use '../variables' as *;
@use './mixins' as *;


//Hero container base 
.hero-container {
    width: 100%;
    display: flex;
    padding-top: 6rem;

    //for opacity on hero image
    &:before {
        @extend .hero-container;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 50vh;
        background-color: #0000007c;
        opacity: 0.6;

        @include tablet {
            height: 85vh;
            background-color: #0000007c;
            opacity: 0.6;
        }

        //increased hero image height for desktop
        @include desktop {
            height: 85vh;
            background-color: #0000007c;
            opacity: 0.6;
        }

    }

    //hero background image
    &__content {
        @extend .hero-container;
        background-image: url('/assets/images/hero-bio.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
        align-items: center;
        font-family: 'Avenir', sans-serif;

        @include tablet {
            height: 85vh;
        }

        @include desktop {
            height: 85vh;
        }

        
    }

    &__title {
        color: $primary-text-color-dark-background;
        font-weight: 500;
        padding-left: 1rem;
        //to center the hero title
        transform: translateY(-3rem);

        @include tablet {
            font-size: 3rem;
        }

        @include desktop {
            padding-left: 8rem;
            font-size: 4rem;
        }

    }
}