//Primary Colors
$primary-background-color: #323232;
$primary-text-color-light-background: #323232;
$primary-text-color-dark-background: #FFFFFF;
$inactive-cta-text-color: #AFAFAF; 

//Secondary colors
$cta-hover-state-color: #000000;
$divider-line-color: #E1E1E1;
$form-field-outline-color: #E1E1E1;
$secondary-light-background-color: #FAFAFA;

// global header color
$header-background-color: #323232;


//Responsive design variables
$tablet-width: 768px;
$desktop-width: 1280px;
