//Primary Colors
$primary-background-color: #323232;
$primary-text-color-light-background: #323232;
$primary-text-color-dark-background: #FFFFFF;
$inactive-cta-text-color: #AFAFAF; 

//Secondary colors
$cta-hover-state-color: #000000;
$divider-line-color: #E1E1E1;
$form-field-outline-color: #E1E1E1;
$secondary-light-background-color: #FAFAFA;

// global header color
$header-background-color: #323232;


@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTPro-Bold.otf') format('otf');
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Avenir Demi';
    src: url('/assets/fonts/AvenirNextLTPro-Demi.otf') format('otf');
}


