@use './variables';
@use './partials/header';
@use './partials/hero';
@use './partials/about';
@use './partials/footer';
@use './partials/gallery';
@use './partials/mixins';


@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTPro-Bold.otf') format('otf');
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Avenir Demi';
    src: url('/assets/fonts/AvenirNextLTPro-Demi.otf') format('otf');
}


